{% extends "pages/main.html.twig" %}
{% block title %}Añadir categoria{% endblock %}
{% block main %}
    <div class="container" id="app">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Añadir categoria</h1>
        </div>

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <form class="user">
                                <div class="form-group">
                                    <input ref="focus" @keyup.enter="addCategoria()" type="text" class="form-control form-control-user" id="nombreCategoria" placeholder="Nombre de la categoria" v-model="nom">
                                    <input hidden>
                                </div>
                                <span @click="addCategoria()" class="btn btn-primary btn-user btn-block">
                                    Añadir
                                </span>
                                <hr>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block customjs %}
    <script type="module" src="/build/js/config.js"></script>
    <script type="module" src="/build/js/adds/addCategVue.js"></script>
{% endblock %}


