{% extends "base.html.twig" %}
{% block title %}404{% endblock %}
{% block main %}
    <div class="container" id="app">
            <!-- 404 Error Text -->
            <div class="text-center">
                <div class="error mx-auto" data-text="404">404</div>
                <p class="lead text-gray-800 mb-5">Page Not Found</p>
                <p class="text-gray-500 mb-0">Como has llegado hasta aqui?!?!?!</p>
                <p class="text-gray-500 mb-0">Te has perdido?</p>
                <a href="/">← Dashboard</a>
            </div>
    </div>
{% endblock %}

